@charset 'utf-8';
@import url('nanumsquare/nanumsquare.css');
@import url('notosanskr/NotoSansKR.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline-style: none; */
}

a {
    color: #333;
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    border: 0px;
    vertical-align: middle;
}

button {
    font-family: 'Noto Sans KR';
    letter-spacing: -0.64px;
}

html {
    font-size: 10px;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    font-family: 'Noto Sans KR', 'NanumSquare', '돋움', Dotum, '굴림', Gulim, Helvetica, 'Apple SD Gothic Neo', Tahoma, Geneva, sans-serif, verdana;
    font-size: 1.6rem;
    color: #666666;
    line-height: 1.66;
    font-weight: 400;
    word-break: keep-all;
    letter-spacing: -0.64px;

    overflow-x: hidden;
}

/* 세로 스크롤바 자동 생성하기 : 스크립트 휠 제거 */
@media all and (max-width:1280px) {
    html {
        overflow-y: auto;
    }
}

/* 공통 요소 */
.clearfix::after {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    clear: both;
}

.container {
    position: relative;
    display: block;
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
}

.wrap {
    position: relative;
    display: block;
}

.section-title {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.64px;
    text-align: center;
    color: #1c1c1c;
    font-weight: 700;

    padding-top: 27px;
    padding-bottom: 60px;
}

.section-title::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;

    display: block;
    width: 35px;
    height: 4px;

    background-color: #272727;
}


.no-mr {
    margin-right: 0 !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mb-50 {
    margin-bottom: 50px;
}

.mr-20 {
    margin-right: 1.58%;
}

.pt-38 {
    padding-top: 38px !important;
}

.pb-38 {
    padding-bottom: 38px !important;
}

.pr-45 {
    padding-right: 45px;
}

.pl-45 {
    padding-left: 45px;
}

.pr-60 {
    padding-right: 60px !important;
}

.pl-60 {
    padding-left: 60px !important;
}

.pd-all-25 {
    padding: 25px;
}

.box-blue {
    background-color: #108ad3 !important;
}

/* 모달창 */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99999;
}

.modal-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: block;
    width: 400px;
    height: 250px;

    background-color: #fff;
    border-radius: 10px;
}

.modal-wrap h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 95px;
    font-family: 'Noto Sans KR';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.1;
    color: #000;

    white-space: nowrap;
    text-align: center;
}

.modal-wrap .modal-desc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 155px;
    font-family: 'Noto Sans KR';
    font-size: 14px;
    color: #666;

    white-space: nowrap;
    text-align: center;
}

.fa-exclamation-triangle {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
}

.modal-close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: block;
    width: 150px;
    height: 30px;

    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.modal-bt {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100px;
    height: 40px;

    border: 0;

    color: #fff;
    background-color: #000;

    z-index: 1000;
}

/* 페이지네이션 기능 */
.control {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: block;

    z-index: 9998;
}

.control-menu {
    position: relative;
    display: block;
}

.control-menu::before {
    content: '';
    position: absolute;
    right: 15px;
    top: 20px;
    width: 1px;
    height: calc(35px * 4);
    background-color: #bbd9bc;
}

.control-menu li {
    position: relative;
    display: block;
    text-align: right;

    margin-top: 5px;
}

.control-menu li a {
    position: relative;
    display: inline-block;

    font-size: 15px;
    color: #b6b9bc;
    line-height: 30px;

    border-radius: 15px;
    padding-left: 17px;
    padding-right: 26px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.control-menu li a::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;

    display: block;
    width: 11px;
    height: 11px;

    border-radius: 50%;

    background: #b6b9bc;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    margin-top: -5px;
}

.control-active {
    color: #fff !important;
    background-color: #d82744 !important;
}

.control-active::after {
    background-color: #fff !important;
}

.control-nav {
    position: fixed;
    top: 330px;
    right: 0px;
    width: 35px;
    z-index: 900;
}

.control-nav li {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;

    background-color: #dadde1;
    border-radius: 50%;
    margin-bottom: 10px;
}

.control-nav li a {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.goup .fa-chevron-up {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.godown .fa-chevron-down {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
}

.gotop {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    font-size: 12px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    background-color: #d82744 !important;
}

/* 상단 */
.header {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;

    z-index: 999;
}

.header>.container {
    height: 100%;
    background-color: #fff;
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}

.logo img {
    position: relative;
    display: block;
    width: 155px;
}

.nav {
    position: absolute;
    display: block;
    white-space: nowrap;
}

.gnb {
    position: relative;
    display: table;
    width: 62%;
    table-layout: fixed;

    margin-left: 200px;
}

.gnb>li {
    position: relative;
    display: table-cell;


    font-family: 'NanumSquare', sans-serif;
    font-size: 21px;
    color: #131313;
    font-weight: 700;
    line-height: 80px;
    text-align: center;

    vertical-align: middle;
    padding: 0 3.9682%;

    cursor: default;

    transition: color 0.4s;
}

.gnb>li:hover {
    color: #108ad6;
}

.gnb-li-active {
    color: #108ad6 !important;
}

.help {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;

    overflow: hidden;
}

.search {
    position: relative;
    display: block;
    float: left;
}

.search-txt {
    position: relative;
    display: block;
    float: left;

    display: block;
    width: 172px;
    height: 39px;

    border: 0;
    color: #575a61;
    font-weight: 400;
    line-height: 39px;
    border-radius: 20px;
    background-color: #e8e9eb;

    padding-left: 23px;
    padding-right: 39px;

    outline-style: none;
}

.search-txt::placeholder {
    font-family: 'NanumSquare';
    font-size: 16px;
    font-weight: 700;
    color: #000;
}

.search-bt {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 16px;
    height: 16px;
    border: 0;

    font-size: 0;

    background: url('../images/icon_g.png') no-repeat;
    background-position: -32px 0px;

    cursor: pointer;
}

.sitemap {
    position: relative;
    display: block;
    float: left;

    font-size: 14px;
    font-weight: 600;
    color: #4F4F4F;
    line-height: 37px;
    border-radius: 20px;
    border: 1px solid #cdcecf;

    background-color: #fff;

    padding: 0 38px 0 21px;
    margin-left: 5px;
}

.sitemap::after {
    content: '';
    position: absolute;
    right: 15px;
    top: 12px;

    display: block;
    width: 16px;
    height: 16px;

    background: url('../images/icon_g.png') no-repeat;
    background-position: -52px 0px;

    cursor: pointer;
}

.language {
    position: relative;
    display: block;
    float: left;

    display: block;
    width: 39px;
    height: 39px;

    font-size: 14px;
    color: #fff;
    line-height: 39px;
    text-align: center;
    letter-spacing: 0;
    background: #0d2d4f;
    border-radius: 20px;

    margin-left: 5px;
}

.quick {
    position: fixed;
    right: 30px;
    top: 40px;
    transform: translateY(-50%);
    display: block;
}

/* 서브메뉴 */
.submenu-div {
    position: relative;
    display: block;
    height: 0;

    background-color: #e7e8ea;
    border-bottom: 0px solid #0d2d4f;

    overflow: hidden;
    transition: height 0.3s;

    z-index: -1;
}

.submenu-div .container {
    position: relative;
    display: block;
}

.submenu-box {
    position: relative;
    display: none;
}

.submenu-list {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;

    border-right: 1px solid #dcdddf;
}

.submenu-list>li {
    position: relative;
    display: table-cell;
    width: 25%;

    border-left: 1px solid #dcdddf;
    padding: 35px 3.125%;
}

.submenu-list-cate {
    position: relative;
    display: block;

    font-family: 'NanumSquare', '돋움', Dotum, '굴림', Gulim, Helvetica, 'Apple SD Gothic Neo', Tahoma, Geneva, sans-serif, verdana;
    font-size: 19px;
    color: #000000;
    font-weight: 700;

    margin-bottom: 25px;
    word-break: break-all;
}

.submenu-list-sub {
    position: relative;
    display: block;
}

.submenu-list-sub-2x {
    min-height: 180px !important;
}

.submenu-list-sub li {
    position: relative;
    display: block;

    margin-bottom: 15px;
}

.submenu-list-sub li a {
    position: relative;
    display: block;

    font-size: 16px;
    color: #646464;
    line-height: 19px;

    transition: color 0.3s;
}

.submenu-list-sub li a:hover {
    color: #000;
}

/* header 반응형 */
@media all and (max-width: 1600px) {
    .quick {
        top: 100px;
    }
}

@media all and (max-width: 1280px) {
    .help {
        display: none;
    }

    .gnb {
        width: 100%;
        margin-left: 150px;
    }

    .control-menu,
    .control-nav li {
        display: none;
    }

    .control-nav li:last-child {
        display: block;
    }
}

@media all and (max-width: 700px) {
    .logo {
        display: none;
    }

    .nav {
        margin-left: 0;
    }

    .gnb {
        margin-left: 0px;
    }

    .gnb>li {
        font-size: 17px;
    }

    .submenu-box {
        padding-top: 20px;
    }

    .submenu-list {
        display: block;
    }

    .submenu-list>li {
        display: block;
        width: 100%;
        border: 0;
        padding: 0 3.125%;
    }

    .submenu-list>li a {
        font-size: 14px;
    }

    .submenu-list-cate {
        margin-bottom: 5px;
    }

    .submenu-list-sub-2x {
        min-height: 50px !important;
    }
}

/* --상단 */

/* 메인 */
.main {
    position: relative;
    display: block;
}

/* 메인 비주얼 */
.visual {
    position: relative;
    display: block;
    height: 100vh;
    background: url('../images/main_visual01.jpg') no-repeat center;
    background-size: cover;
}

.visual>.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.visual-signature {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.72px;
    color: #fff;
}

.visual-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.visual-title {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}

.visual-box {
    position: relative;
    display: block;
    width: 23.815%;
    height: 400px;
    transition: width 0.3s, height 0.3s;
}

.visual-box-cont {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    border-radius: 16px;
    background-color: #fff;

    /* padding: 38px 60px; */

    transition: background-color 0.4s;
}

.visual-box-cont:hover {
    background-color: #108ad3;
}

.box-h-50 {
    height: 190px !important;
}

.box-blue {
    background-color: #108ad3 !important;
}

.visual-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.visual-link h3 {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    font-size: 28px;
    font-weight: 700;
    color: #121212;

    transition: color 0.4s;
}

.visual-link>p {
    position: relative;
    display: inline-block;
    height: 65px;

    font-weight: no;
    font-size: 15px;
    letter-spacing: -0.64px;
    color: #999999;
    vertical-align: middle;

    transition: color 0.4s;
}

.link-bt {
    position: relative;
    display: inline-block;

    font-size: 15px;
    color: #fff;
    line-height: 28px;
    border: 0;

    border-radius: 15px;
    background-color: #0d2d4f;
    padding: 0 25px;

    cursor: pointer;
    transition: color 0.4s, background-color 0.4s;
}

.visual-link:hover h3 {
    color: #fff;
}

.visual-link:hover p {
    color: #fff;
}

.visual-link:hover .link-bt {
    background-color: #fff;
    color: #000;
}

.box-h-50 .visual-link img {
    position: absolute;
    right: 25px;
    bottom: 25px;
}

.box-blue {
    padding: 25px;
}

.box-blue>p {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    font-size: 18px;
    line-height: 30px;
    color: #fff;

    margin-bottom: 5px;
}

.favo-list {
    position: relative;
    display: block;
}

.favo-list li {
    position: relative;
    display: block;
    width: 33.33%;
    float: left;
    text-align: center;
}

.favo-list a {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    text-align: center;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.64px;
    color: #fff;

    padding-top: 80px;
}

.favo-list a::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) scale(1.0);

    display: block;
    width: 70px;
    height: 70px;

    border-radius: 50%;
    background-color: #fff;
    transition: all 0.4s;
}

.favo-list li:nth-child(1) a::after {
    background: url('../images/icon_s0105.png') no-repeat center;
}

.favo-list li:nth-child(2) a::after {
    background: url('../images/icon_s0106.png') no-repeat center;
}

.favo-list li:nth-child(3) a::after {
    background: url('../images/icon_s0107.png') no-repeat center;
}

.favo-list li a:hover::after {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 0px 8px rgb(0 0 0 / 70%);
}

.visual-cate-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.visual-icon {
    position: relative;
    display: block;
    width: 180px;
    height: 180px;

    border-radius: 50%;
    background: no-repeat center #edf1f5;
    background-size: 100% auto;

    margin: 0 auto 20px;
    transition: width 0.3s, height 0.3s;
}

.visual-cate {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    font-weight: 700;
    font-size: 32px;
    color: #121212;
    text-align: center;

    margin-bottom: 5px;
}

.visual-desc-off {
    font-size: 17px;
    color: #999999;
    line-height: 21.93px;
    text-align: center;
    white-space: nowrap;
}

.visual-desc-on {

    display: none;

    font-size: 17px;
    color: #fff;
    line-height: 21.93px;
    text-align: center;
    white-space: nowrap;
}

.visual-cate-link:hover .visual-icon {
    background-color: #fff;
}

.visual-cate-link:hover .visual-cate {
    color: #fff;
}

.visual-cate-link:hover .visual-desc-off {
    display: none;
}

.visual-cate-link:hover .visual-desc-on {
    display: block;
}

.visual-news {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 60px;
    background-color: rgba(11, 38, 67, 0.7);
}

.visual-news>.container {
    height: 100%;
}

.visual-news-left {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    float: left;

    padding: 0 40px;

    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.visual-news-right {
    position: relative;
    display: block;
    width: 50%;
    height: 100%;
    float: right;

    padding: 0 40px;

    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.visual-news-link {
    position: relative;
    display: block;
    height: 60px;
    float: left;

    font-size: 16px;
    line-height: 60px;
    letter-spacing: -0.64px;
    color: #fff;

    padding-right: 20px;
}

.visual-news-link::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 1px;
    height: 13px;

    background-color: rgba(255, 255, 255, 0.2);
}

.visual-news-link img {
    margin-right: 10px;
    margin-bottom: 5px;
}

.visual-news .swiper-container {
    float: left;
    width: 400px;
    height: 100%;

    margin-left: 15px;
}

.visual-news .swiper-slide a {
    position: relative;
    display: block;
    width: 100%;

    font-size: 16px;
    line-height: 60px;
    letter-spacing: -0.64px;
    color: #fff;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sw-vs-notice-next,
.sw-vs-news-next {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 10px;
    height: 17px;

    float: right;
    border: 0;

    background: url('../images/icon_arrow02.png') no-repeat center;
    cursor: pointer;
}

/* 반응형 */
@media all and (max-width:1280px) {
    .visual {
        height: auto;
    }

    .visual>.container {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
    }

    .visual-news {
        display: none;
    }

    .visual .container h2 {
        font-size: 30px;
        padding-top: 145px;
    }

    .visual-wrap {
        width: 96%;
        margin: 0 auto;
        flex-wrap: wrap;
        padding-bottom: 80px;
    }

    .visual-wrap .visual-box {
        width: 32%;
        height: auto;
    }

    .visual-wrap .visual-box:nth-child(1) {
        overflow: hidden;
        width: 100%;
        order: 1;
        margin-top: 20px;
    }

    .visual-wrap .visual-box:nth-child(1) .visual-box-cont:nth-child(1) {
        width: 32%;
        float: left;
    }

    .visual-wrap .visual-box:nth-child(1) .visual-box-cont:nth-child(2) {
        width: 66%;
        float: right;
    }
}

@media all and (max-width:940px) {
    .visual-link img {
        display: none;
    }
}

@media all and (max-width:820px) {
    .visual-box {
        height: auto;
    }

    .visual-box .pt-38 {
        padding-top: 10% !important;
    }

    .visual-box .pb-38 {
        padding-bottom: 10% !important;
    }

    .visual-box .pr-60 {
        padding-right: 5% !important;
    }

    .visual-box .pl-60 {
        padding-left: 5% !important;
    }

    .visual-desc-off {
        display: none;
    }

    .visual-desc-on {
        display: none;
    }

    .visual-cate-link:hover .visual-desc-on {
        display: none;
    }

    .visual-box-cont {
        height: auto;
    }

    .visual-box-cont a h3 {
        font-size: 15px;
    }

    .visual-link {
        padding-top: 30px;
    }

    .visual-icon {
        width: 70px;
        height: 70px;
    }

    .favo-list a {
        padding-top: 75px;
    }

    .visual-wrap {
        padding-bottom: 50px;
    }
}

@media all and (max-width: 770px) {
    .visual-box-cont {
        height: 190px;
    }
}

@media all and (max-width:760px) {
    .visual-box-sm {
        height: 100px !important;
    }

    .visual-box-sm p {
        display: none;
    }

    .visual-box .pt-38 {
        padding-top: 20% !important;
    }

    .visual-link h3 {
        text-align: center;
        margin-top: 40px;
    }

    .visual-link .link-bt {
        display: none;
    }

    .visual-box-sm .visual-link img {
        right: 50% !important;
        bottom: 40px !important;
        transform: translateX(50%);
        display: block;
        width: 39px;
        height: 44px;
    }

    .favo-list a {
        font-size: 13px;
        padding-top: 30px;
    }

    .favo-list a::after {
        top: -15px;
        width: 42px;
        height: 42px;
        background-size: cover !important;
    }

    .visual-wrap {
        padding-bottom: 20px;
    }
}

@media all and (max-width:700px) {
    .visual-box {
        height: 250px;
    }
}

/* 협회 소식 */
.news {
    position: relative;
    display: block;
    height: 100vh;
    background: url('../images/section02_bg.jpg') no-repeat center;
    background-size: cover;
}

.news .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.news-top {
    position: relative;
    display: block;
    height: 300px;
}

.news-wrap {
    position: relative;
    display: block;
    width: 620px;
    height: 100%;
    float: left;

    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #d4d5d8;

    overflow: hidden;
}

.news-more {
    position: absolute;
    right: 30px;
    top: 24px;
    transform: translateY(-50%);
    display: block;

    font-size: 13px;
    color: #76787a;
    line-height: 15px;
    text-align: center;

    z-index: 1;
}

.news-more::after {
    content: '';
    position: relative;
    display: inline-block;
    width: 11px;
    height: 11px;
    background: url('../images/icon_more.png') no-repeat center;

    vertical-align: -1px;
    margin-left: 10px;
}

.news-menu {
    position: relative;
    display: block;
    height: 50px;

    background-color: #edf1f5;
}

/* 넓은 화면에서는 보이지 않는 공지 메뉴 및 메뉴*/
.news-menu a:nth-child(1) {
    display: none;
}

.notice {
    display: none;
}

.news-menu::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 1px;

    background-color: #d4d5d8;
}

.news-menu a {
    position: relative;
    display: block;
    float: left;

    font-family: 'NanumSquare';
    font-size: 18px;
    font-weight: 700;
    line-height: 50px;
    color: #262626;
    text-align: center;

    background-color: #edf1f5;
    border-right: 1px solid #d4d5d8;
    border-bottom: 1px solid #d4d5d8;
    padding: 0 38px;
}

.news-menu-active {
    background-color: #fff !important;
    border-bottom: 1px solid #fff !important;
}

/* .news-menu a:first-child {
    font-family: 'NanumSquare';
    font-size: 22px;
    font-weight: 700;
    color: #262626;
} */

.news-contents {
    position: relative;
    display: block;

    padding: 28px 38px;
}

.news-list {
    position: relative;
    display: none;
}

.news-list li {
    position: relative;
    display: block;

    overflow: hidden;
}

.news-list li a {
    display: block;
    width: 335px;
    float: left;

    font-size: 15px;
    line-height: 32px;
    color: #6d6d6d;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    transition: color 0.3s;
}

.date {
    display: block;
    float: right;

    font-size: 15px;
    line-height: 32px;
    color: #6d6d6d;
}

.news-list-active {
    display: block !important;
}

.news-list li a:hover {
    color: #65b1dd;
}

.news-quick {
    position: relative;
    display: block;
    width: 300px;
    height: 100%;
    float: left;

    border-radius: 16px;
    background-color: #108ad3;

    padding: 25px 10px;
}

.news-quick-icon {
    position: relative;
    display: block;
    float: left;
    width: 50%;
    height: 110px;

    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #fff;

    margin-bottom: 25px;
    padding-top: 90px;
}

.news-quick-icon::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.0);
    top: 0;
    display: block;
    width: 82px;
    height: 82px;
    background-color: #fff;
    border-radius: 50%;

    transition: all 0.4s;
}

.news-quick-icon::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.0);
    top: 0;

    display: block;
    width: 82px;
    height: 82px;

    background: url('../images/icon_s0201.png') no-repeat center;
    background-size: cover;

    transition: all 0.4s;
}

.news-quick-icon:nth-child(2):after {
    background: url('../images/icon_s0202.png') no-repeat center;
    background-size: cover;

    transition: all 0.4s;
}

.news-quick-icon:nth-child(3):after {
    background: url('../images/icon_s0203.png') no-repeat center;
    background-size: cover;

    transition: all 0.4s;
}

.news-quick-icon:nth-child(4):after {
    background: url('../images/icon_s0204.png') no-repeat center;
    background-size: cover;

    transition: all 0.4s;
}

.news-quick-icon:hover::before {
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 0px 8px rgb(0 0 0 / 70%);
}

.news-quick-icon:hover::after {
    transform: translateX(-50%) scale(1.1);
}

.news-slide {
    position: relative;
    display: block;
    width: 300px;
    height: 100%;
    float: left;

    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #d4d5d8;

    overflow: hidden;
}

.sw-news-control {
    position: absolute;
    top: 20px;
    right: 20px;

    z-index: 999;
}

.sw-news-pg {
    position: relative;
    display: block;
    float: left;

    margin-left: 5px;
    line-height: 0px !important;
}

.sw-news .swiper-slide img {
    width: 100%;
}

.sw-news-pg .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    background-color: #5b5757 !important;
    opacity: 0.5 !important;

    margin: 0 2px !important;
}

.sw-news-pg .swiper-pagination-bullet-active {
    opacity: 1.0 !important;
}

.sw-news-bt {
    position: relative;
    display: block;
    width: 8px;
    height: 8px;
    float: left;

    font-size: 0;
    border: 0;

    background: url('../images/icon_pause.png') no-repeat center;
    background-color: transparent;

    cursor: pointer;
}

.sw-news-bt-active {
    background: url('../images/icon_play.png') no-repeat center !important;
}

.news-bottom {
    position: relative;
    display: block;
    height: 225px;
    opacity: 0;
}

.effect-op-active {
    opacity: 1;
}

.notice-wrap {
    position: relative;
    display: block;
    width: 620px;
    height: 100%;
    float: left;

    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #d4d5d8;

    padding: 20px 30px;
    overflow: hidden;
}

.notice-wrap-title {
    font-family: 'NanumSquare';
    font-size: 22px;
    font-weight: 700;
    color: #262626;
    padding-left: 9px;
}

.notice-list {
    position: relative;
    display: block;

    padding-top: 17px;
}

.notice-list li {
    position: relative;
    display: block;

    padding-right: 80px;
}

.notice-list a {
    display: block;
    width: 335px;

    font-size: 15px;
    line-height: 32px;
    color: #6d6d6d;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    transition: color 0.3s;
}

.notice-list .date {
    position: absolute;
    top: 0;
    right: 0;
}

.notice-list li a:hover {
    color: #65b1dd;
}

.news-link-wrap {
    position: relative;
    display: block;
    width: 620px;
    height: 100%;
    float: left;

    border-radius: 16px;
    background-color: #fff;
    border: 1px solid #d4d5d8;

    overflow: hidden;
}

.news-link-list {
    position: relative;
    display: block;
    height: 100%;
}

.news-link-list li {
    position: relative;
    display: block;
    width: 33.33%;
    height: 100%;
    float: left;

    text-align: center;

    border-right: 1px solid #e6eaed;
    padding: 35px 10px;
}

.news-link-list li:last-child {
    border-right: 0px;
}

.news-link-list li a {
    position: relative;
    display: block;
    height: 50px;

    font-family: 'NanumSquare';
    font-size: 21px;
    color: #262626;
    font-weight: 700;
    line-height: 50px;

    padding-top: 80px;
}

.news-link-list li a::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 60px;
    height: 64px;

    background: url('../images/icon_s0205.png') no-repeat top center;
    margin-bottom: 10px;
}

.news-link-list li:nth-child(2) a::before {
    background: url('../images/icon_s0206.png') no-repeat top center;
}

.news-link-list li:nth-child(3) a::before {
    background: url('../images/icon_s0207.png') no-repeat top center;
}


.news-link-list li a .news-link-txt {
    position: relative;
    display: block;
    height: 50px;

    font-size: 17px;
    line-height: 20px;
}

.news-link-list li .link-bt {
    position: absolute;
    left: 50%;
    top: 79%;
    transform: translate(-50%, -50%);
    display: block;

    border-radius: 13px !important;
    font-size: 14px !important;
    line-height: 26px !important;
    white-space: nowrap !important;
    background-color: #92989b !important;

    padding: 0 17px !important;
}

.news-link-list li .link-bt:hover {
    background-color: #108ad3 !important;
}

/* 반응형 */
@media all and (max-width:1280px) {
    .news {
        height: auto;
    }

    .news .container {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);

        padding-bottom: 100px;
    }

    .news .section-title {
        font-size: 40px;
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .news .section-title::before {
        margin-top: 90px;
    }

    .news-menu a:nth-child(1) {
        display: block !important;
    }

    .notice {
        display: none;
    }

    .news-top {
        height: auto;
        width: 94%;
        margin: 0 auto;
    }

    .news-wrap {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .news-quick {
        width: calc(50% - 0.79%);
        height: 45vw;
        padding-top: 80px;
    }

    .news-quick-icon {
        padding-top: 20%;
        margin-bottom: 120px;
    }

    .news-slide {
        width: calc(50% - 0.79%);
        height: 45vw;
    }

    .news-bottom {
        display: none;
    }
}

@media all and (max-width:1200px) {
    .news-quick-icon {
        margin-bottom: 50px;
    }
}


@media all and (max-width: 890px) {
    .news-quick {
        padding-top: 73px;
    }

    .news-quick-icon {
        padding-top: 23%;
        margin-bottom: 33px;
    }

    .news-quick-icon::before {
        width: 80px;
        height: 80px;
    }

    .news-quick-icon::after {
        width: 80px;
        height: 80px;
    }
}

@media all and (max-width: 760px) {
    .news .section-title::before {
        margin-top: 30px;
        width: 17px;
        height: 2px;
    }

    .news .section-title {
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 24px;
    }

    .news-quick {
        padding-top: 60px;
    }

    .news-quick-icon {
        font-size: 14px;
        padding-top: 20%;
        margin-bottom: 10px;
    }

    .news-quick-icon::before {
        width: 60px;
        height: 60px;
    }

    .news-quick-icon::after {
        width: 60px;
        height: 60px;
    }

    .news-more::after {
        top: 8px
    }
}


@media all and (max-width: 700px) {
    .news .section-title {
        font-size: 24px;
        line-height: 40px;
        padding-top: 35px;
        padding-bottom: 15px;
    }

    .news .section-title::before {
        margin-top: 20px;
    }

    .news-quick {
        padding-top: 45px;
    }

    .news-quick-icon {
        font-size: 11px;
        padding-top: 20%;
        margin-bottom: 0;
    }

    .news-quick-icon::before {
        width: 40px;
        height: 40px;
    }

    .news-quick-icon::after {
        width: 40px;
        height: 40px;
    }

    .news-menu {
        height: 30px;
    }

    .news-menu a {
        font-size: 13px;
        line-height: 30px;
    }

    .news-more {
        top: 10px;
        right: 20px;
        font-size: 0;
    }

    .news-list li a {
        font-size: 12px;
        line-height: 20px;
    }

    .news-list li .date {
        font-size: 12px;
        line-height: 20px;
    }

    .news-contents {
        padding: 15px 15px;
    }
}


/* 소비자 */
.customer {
    position: relative;
    display: block;
    height: 100vh;
    background-color: #fff;
}

.customer .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.customer-top {
    position: relative;
    display: block;

    margin-bottom: 40px;
}

.customer-info {
    position: relative;
    display: block;
    width: 620px;
    height: 345px;
    float: left;
}

.customer-info .section-title {
    text-align: left;
}

.customer-info .section-title::before {
    left: 0;
    transform: translateX(0);
}

.customer-list {
    position: relative;
    display: block;
    overflow: hidden;
}

.customer-list li {
    position: relative;
    display: block;
    width: calc(50% - 17px);
    float: left;
    margin-right: 34px;
}

.customer-list li:nth-child(2n) {
    margin-right: 0;
}

.customer-list li a {
    position: relative;
    display: block;

    font-size: 16px;
    color: #505050;
    line-height: 39px;

    border-bottom: 1px solid #e1e1e1;
    transition: color 0.3s;

    padding-left: 28px;
}

.customer-list li a::before {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;

    background: url('../images/icon_arrow01.png') no-repeat center;
    background-color: #1c1c1c;

    transition: background-color 0.3s;
}

.customer-list li a:hover {
    color: #1089d2;
}

.customer-list li a:hover::before {
    background: #1089d2 url('../images/icon_arrow01.png') no-repeat center;
}

.customer-img {
    position: relative;
    display: block;
    width: 590px;
    height: 345px;
    float: right;

    border-radius: 16px;

    background: url('../images/s03_bg.jpg') no-repeat center;
    background-size: cover;
}

.customer-bottom {
    position: relative;
    display: block;
}

.customer-bottom .box-h-50 {
    height: 206px !important;
}

.customer-bottom .pd-all-25 {
    padding-top: 30px !important;
}

.customer-box-cont {
    position: relative;
    display: block;
    width: 23.80%;
    height: 100%;
    float: left;

    border: 1px solid #d4d5d8;
    border-radius: 16px;

    margin: 0 0.79%;

    transition: background-color 0.4s;
}

.customer-box-cont:first-child {
    margin-left: 0;
}

.customer-box-cont:last-child {
    margin-right: 0;
}

.customer-box-cont:nth-child(2n) {
    background-color: #f6f8fa;
}

.customer-box-cont:hover {
    background-color: #108ad3;
}

.effect-op {
    opacity: 0;
    transition: opacity 0.3s;
}

.effect-op-active {
    opacity: 1;
}

.customer-link {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.customer-link h3 {
    font-family: 'NanumSquare', '돋움', Dotum, '굴림', Gulim, 'Apple SD Gothic Neo';
    font-weight: 700;
    font-size: 25px;
    color: #262626;
    line-height: 20px;

    transition: color 0.4s;
}

.customer-link p {
    position: relative;
    display: block;
    height: 75px;

    font-size: 16px;
    color: #838383;
    line-height: 20px;
    letter-spacing: -0.64px;

    margin-top: 20px;

    transition: color 0.4s;
}

.customer-link:hover h3 {
    color: #fff;
}

.customer-link:hover p {
    color: #fff;
}

.customer-box-cont:hover h3 {
    color: #fff;
}

.customer-box-cont:hover p {
    color: #fff;
}

.customer-link:hover .link-bt {
    background-color: #fff;
    color: #050505;
}

.customer-bottom .box-h-50 {
    height: 206px !important;
}

.customer-box-cont:nth-child(2n) {
    background-color: #f6f8fa;
}

.customer-box-cont:nth-child(2n) {
    background-color: #f6f8fa;
}

.customer-link img {
    position: absolute;
    right: 0;
    bottom: 20px;
    display: block;
    width: 130px;
    height: 78px;
}

.customer-box-cont:hover .customer-link .link-bt {
    color: #000;
    background-color: #fff;
}

/* 소비자 반응형 */
@media all and (max-width:1280px) {
    .customer {
        height: auto;
        padding: 100px 0;
    }

    .customer .container {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        width: 94%;
        margin: 0 auto;
    }

    .customer-info {
        width: 50%;
    }

    .customer-img {
        width: 50%;
    }
}

@media all and (max-width:1200px) {
    .customer {
        padding: 80px 0;
    }

    .customer-info {
        width: 100%;
    }

    .customer-img {
        display: none;
    }

    .customer-link p {
        display: none;
    }

    .customer-link .link-bt {
        display: none;
    }

    .customer-link h3 {
        text-align: center;
        padding-top: 90px;
    }

    .customer-link img {
        left: 50%;
        top: 30px;
        transform: translateX(-50%);
    }

    .customer-bottom .box-h-50 {
        height: auto !important;
    }
}

@media all and (max-width:760px) {
    .customer {
        padding: 40px 0;
    }

    .customer .section-title {
        text-align: center;
        font-size: 24px;
        padding-top: 10px;
        padding-bottom: 27px;
    }

    .customer .section-title::before {
        left: 50%;
        transform: translateX(-50%);
        width: 17px;
        height: 2px;
    }

    .customer-info {
        height: auto;
    }

    .customer-list li a {
        font-size: 11px;
    }

    .customer-link p {
        display: none;
    }

    .customer-link .link-bt {
        display: none;
    }

    .customer-link h3 {
        font-size: 13px;
        text-align: center;
        padding-top: 35px;
    }

    .customer-bottom .box-h-50 {
        height: auto !important;
    }

    .customer-link img {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);
        width: auto;
        height: 40px;
    }
}

@media all and (max-width: 545px) {
    .customer-link h3 {
        font-size: 11px;
        white-space: nowrap;
    }
}

/* 모집종사자 */
.worker {
    position: relative;
    display: block;
    height: 100vh;

    background: url('../images/section04_bg.jpg');
}

.worker .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.worker .container>.section-title {
    color: #fff !important;
}

.worker .container>.section-title::before {
    background-color: #fff !important;
}

.worker-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.worker-list-box {
    position: relative;
    display: block;
    width: 23.8%;
    height: 420px;
    max-height: 420px;

    border-radius: 16px;
    background-color: #fff;
    padding: 45px 35px;

    overflow: hidden;
}

.worker-list-box:first-child {
    margin-left: 0;
}

.worker-list-box:last-child {
    margin-right: 0;
}

.worker-list-box h3 {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    font-size: 30px;
    line-height: 36.99px;
    color: #262626;
    font-weight: 700;

    z-index: 1;
}

.worker-list-box p {
    position: relative;
    display: block;

    font-size: 18px;
    color: #838383;
    line-height: 23.94px;

    margin-top: 16px;

    z-index: 1;
}

/* 애니메이션 css */
.worker-ani {
    position: absolute;
    left: 18%;
    bottom: -24%;


    display: block;
    width: 100%;
    height: 100%;
}

.worker-ani img {
    position: absolute;
    left: 0;
    top: 0;

    display: block;
    width: 105%;
    height: auto;
}

.worker-ani .ani-1-1 {
    left: -53px;
    top: -72px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-ani .ani-1-2 {
    left: -53px;
    top: -72px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-1-1,
.worker-list-box:hover .ani-2-1,
.worker-list-box:hover .ani-3-1,
.worker-list-box:hover .ani-4-1 {
    left: -53px;
    top: -93px;
}

.worker-list-box:hover .ani-1-2 {
    left: -23px;
    top: -91px;
}

.worker-ani .ani-2-1 {
    left: -53px;
    top: -72px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-ani .ani-2-2 {
    left: 0px;
    top: 0px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-2-2 {
    left: -42px;
    top: -78px;
}

.worker-ani .ani-2-3 {
    left: 0px;
    top: 0px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-2-3 {
    left: -44px;
    top: -78px;
}

.worker-ani .ani-2-4 {
    left: 0px;
    top: 0px;
    z-index: 12;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-2-4 {
    left: -43px;
    top: -80px;
}

.worker-ani .ani-2-5 {
    left: 0px;
    top: 0px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-2-5 {
    left: -65px;
    top: -92px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-ani .ani-3-1 {
    left: -53px;
    top: -72px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-ani .ani-3-2 {
    left: -50px;
    top: -60px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-3-2 {
    left: -30px;
    top: -75px;
}

.worker-ani .ani-3-3 {
    left: -50px;
    top: -85px;

    transition: all 0.3s ease-out 0.1s;
}

.worker-list-box:hover .ani-3-3 {
    left: -30px;
    top: -105px;
}

.worker-ani .ani-4-1 {
    left: -53px;
    top: -72px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-ani .ani-4-2 {
    left: -68px;
    top: -62px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-4-2 {
    left: -68px;
    top: -84px;
}

.worker-ani .ani-4-3 {
    left: -68px;
    top: 286px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-4-3 {
    left: -68px;
    top: 245px;
}

.worker-ani .ani-4-4 {
    left: -65px;
    top: -62px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-4-4 {
    left: -65px;
    top: -105px;
}

.worker-ani .ani-4-5 {
    left: -67px;
    top: -61px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-4-5 {
    left: -60px;
    top: -81px;
}

.worker-ani .ani-4-6 {
    left: -70px;
    top: -63px;

    transition: all 0.3s ease-out 0.03s;
}

.worker-list-box:hover .ani-4-6 {
    left: -74px;
    top: -80px;
}


@media all and (max-width:1280px) {
    .worker {
        height: auto;
    }

    .worker .container {
        position: relative;
        left: 0;
        top: 0;
        width: 94%;
        transform: translate(0, 0);
        padding-bottom: 100px;
    }

    .worker .section-title {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .worker .section-title::before {
        margin-top: 90px;
    }

    .worker-list-box {
        height: 50vw;
        max-height: 420px;
    }

    .worker-ani {
        left: 19%;
        bottom: -35%;
    }
}

@media all and (max-width:1200px) {
    .worker .container {
        width: 95%;
    }

    .worker-list-box {
        width: 49%;
        height: 47vw;
        max-height: 580px;
        margin-bottom: 20px;
    }

    .worker-ani {
        left: 10.6%;
        bottom: 14%;
    }
}

@media all and (max-width: 760px) {
    .worker .container {
        padding-bottom: 40px;
    }

    .worker .section-title::before {
        margin-top: 30px;
        width: 17px;
        height: 2px;
    }

    .worker .section-title {
        font-size: 24px;
        padding-top: 40px;
        padding-bottom: 30px;
    }

    .worker-list-box h3 {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: 8px;
    }

    .worker-list-box p {
        font-size: 14px;
        line-height: 1.4;
    }

    .worker-ani {
        left: 18%;
        bottom: 0%;
    }
}

@media all and (max-width: 580px) {
    .worker-list-box p {
        display: none;
    }

    .worker-ani {
        left: 21%;
        bottom: -9%;
    }
}


/* 회원사 */
.partner {
    position: relative;
    display: block;
    height: 100vh;

    background: url('../images/section05_bg.jpg');
}

.partner .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.partner-list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.partner-link {
    position: relative;
    display: block;
    width: 14.12%;

    padding-top: 195px;
}

.partner-link::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(1.0);
    top: 0;
    display: block;
    width: 178px;
    height: 178px;

    border: 6px solid #fff;
    border-radius: 50%;

    box-sizing: border-box;

    transition: transform 0.4s;
}

.partner-link:nth-child(1)::before {
    background: url('../images/icon_mcompany01.png') no-repeat center;
    background-size: cover;
}

.partner-link:nth-child(2)::before {
    background: url('../images/icon_mcompany02.png') no-repeat center;
    background-size: cover;

}

.partner-link:nth-child(3)::before {
    background: url('../images/icon_mcompany04.png') no-repeat center;
    background-size: cover;
}

.partner-link:nth-child(4)::before {
    background: url('../images/icon_mcompany05.png') no-repeat center;
    background-size: cover;
}

.partner-link:nth-child(5)::before {
    background: url('../images/icon_mcompany07.png') no-repeat center;
    background-size: cover;
}

.partner-link:nth-child(6)::before {
    background: url('../images/icon_mcompany06.png') no-repeat center;
    background-size: cover;
}

.partner-link:hover::before {
    transform: translateX(-50%) scale(1.2);
}

.partner-link h3 {
    position: relative;
    display: block;

    font-family: 'NanumSquare';
    font-size: 22px;
    color: #101010;
    font-weight: 700;
    line-height: 26.4px;
    text-align: center;

    margin-top: 3px;
    margin-bottom: 25px;
}

.partner-2line {
    margin-bottom: 12px !important;
}

.partner-link p {
    position: relative;
    display: block;

    font-size: 15px;
    line-height: 19.95px;
    color: #666;
    text-align: center;
}

/* 회원사 반응형 */
@media all and (max-width:1280px) {
    .partner {
        height: auto;
    }

    .partner .container {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        width: 94%;
        padding-bottom: 100px;
    }

    .partner .section-title {
        padding-top: 120px;
        padding-bottom: 80px;
    }

    .partner .section-title::before {
        margin-top: 90px;
    }
}

@media all and (max-width: 1200px) {
    .partner .container {
        padding-bottom: 0;
    }

    .partner-list a {
        width: 32%;
        white-space: nowrap;
        margin-bottom: 120px;
    }
}

@media all and (max-width: 760px) {
    .partner .section-title::before {
        margin-top: 30px;
        width: 17px;
        height: 2px;
    }

    .partner .section-title {
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 24px;
    }

    .partner .container {
        padding-bottom: 20px;
    }
}


/* 관련업체 배너 */
.banner {
    position: relative;
    display: block;
    height: 101px;
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    overflow: hidden;
}

.banner .container {
    position: relative;
    display: block;
    height: 100%;
}

.sw-banner a {
    position: relative;
    display: block;
    text-align: center;
}

.banner-prev {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);

    display: block;
    width: 15px;
    height: 27px;

    border: 0;
    background: url('../images/icon_f_prev.png') no-repeat;
    z-index: 20;
}

.banner-next {
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 15px;
    height: 27px;

    border: 0;

    background: url('../images/icon_f_next.png') no-repeat;

    z-index: 20;
}

.banner .swiper-container {
    display: block;
    width: 96%;
    margin: 0 auto;
}

.sw-banner .swiper-slide {
    text-align: center;
}

.sw-banner .swiper-slide a img {
    text-align: center
}

@media all and (max-width: 760px) {
    .banner {
        height: 50%;
    }

    .banner .container {
        width: 90%;
    }

    .sw-banner a img {
        height: 50px;
    }

    .sw-banner .swiper-slide {
        text-align: center !important;
    }

    .banner-prev {
        transform: translateY(-50%) scale(0.5);
    }

    .banner-next {
        transform: translateY(-50%) scale(0.5);
    }
}

/* --메인 */


/* 하단 */
.footer {
    position: relative;
    display: block;

    background-color: #f3f4f5;
}

.footer .container {
    padding: 40px 0 60px 0;
}

.footer-left {
    position: relative;
    display: block;
    float: left;
}

.f-logo {
    position: relative;
    display: block;
    float: left;

    margin-right: 40px;
}

.f-logo img {
    width: 135px;
    mix-blend-mode: multiply;
}

.footer-list {
    position: relative;
    display: block;
    float: left;
}

.footer-list li,
.footer-list li a {
    font-size: 14px;
    color: #828282;
    line-height: 20px;
    letter-spacing: -0.42px;
}

.footer-list li:first-child {
    margin-bottom: 20px;
}

.footer-list li:last-child {
    margin-top: 15px;
}

.footer-list li a strong {
    position: relative;
    display: block;

    font-size: 15px;
    color: #141313;
    font-weight: 500;

    margin-bottom: 15px
}

.copyright {
    margin-top: 10px;
}

.footer-right {
    position: relative;
    display: block;
    float: right;
}

.footer-right a {
    position: relative;
    display: block;
    float: left;
}

.footer-right .wa {
    position: relative;
    display: block;
    width: 100px;
    height: 71px;
}

.footer-right .wa-2019 {
    position: relative;
    display: block;
    width: 57px;

    margin-left: 20px;
}

/* 하단 반응형 */
@media all and (max-width: 1280px) {
    .footer .container {
        width: 93%;
        padding: 20px 0;
    }

    .footer-list li {
        font-size: 11px;
    }

    .footer-list li:first-child {
        margin-top: 0;
    }

    .footer-list li:last-child {
        margin-top: 0;
    }

    .footer-list li a strong {
        font-size: 12px;
        margin-top: 10px;
    }

    .footer-right {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .wa {
        width: 50px;
    }

    .wa-2019 {
        width: 30px;
    }
}

/* --하단 */